.product {
  &-container {
    padding: 0 40px;
    margin-top: 30px;
  }

  &-table{
    border: 1px solid #46b91d;
    border-radius: 15px;
    overflow: hidden;

    
  }

  &-title{
    font-size: 30px;
    color: #46b91d;
    font-weight: 700;
    padding: 10px 20px;
  }

  
}
.ant-btn-default:not(:disabled):hover {
  color: #8ee46e;
  border-color: #46b91d;
}
.ant-btn-primary {
  color: #fff;
  background-color: #46b91d;
  box-shadow: 0 2px 0 rgba(5, 255, 13, 0.1);
}
.ant-btn-primary:not(:disabled):hover {
  color: #fff;
  background-color: #8ee46e;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #46b91d;
  box-shadow: 0 0 0 2px rgba(18, 255, 5, 0.1);
}

.ant-input:hover {
  border-color: #46b91d;
}

.ant-input {
  border-radius: 8px;
}

a {
  color: #46b91d;
}

a:hover {
  color: #8ee46e;
}

table{
  border-color: #46b91d;
}
.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td{
  background-color: #46b91d;
  color:#fff;
}
.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: #46b91d;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #46b91d;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 0;
  padding: 16px 16px;
  background-color: #46b91d;
  color: #fff;
}
.ant-input-outlined:hover {
  border-color: #46b91d;
  background-color: #ffffff;
}

.ant-descriptions-item-label{
  width: 30%;
}

.ant-modal .ant-modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ant-modal-body{
  width: 100%;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-input-number-outlined:focus, :where(.css-dev-only-do-not-override-1okl62o).ant-input-number-outlined:focus-within {
  border-color: #46b91d;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
  background-color: #ffffff;}

  :where(.css-dev-only-do-not-override-1okl62o).ant-input-number-outlined:hover {
    border-color: #46b91d;
    background-color: #ffffff;
}

.ant-select-selection-item{
  border-color: #46b91d;
}

.ant-select-outlined:not(.ant-select-disabled) .ant-select-selector,
.ant-select-customize-input:not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #46b91d;
}

.ant-select-focused .ant-select-selector,
.css-ov--doly-do-not-override-l0k162 .ant-select-selector,
.ant-select-disabled .ant-select-selector,
.ant-select-customize-input .ant-select-selector{
  border-color: #46b91d;
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
  border-color: #46b91d;
  box-shadow: 0 0 0 2px rgba(24, 255, 47, 0.2);
  outline: 0;
}